{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_designer/courseformat/content/section

    Displays a course section.

    Example context (json):
    {
        "reactionurl_dislike" : "http://moodleurl/course/format/designer/classes/output/renderer.php"
    }
}}
<li id="section-{{num}}"
    class="section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}} current {{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}}"
    data-sectionid="{{num}}"
    data-sectionreturnid="{{sectionreturnid}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{num}}"
>
    {{#singleheader}} {{> core_courseformat/local/content/section/header }} {{/singleheader}}
    <div class="left side">{{#iscurrent}} {{{currentlink}}} {{/iscurrent}}</div>
    <div class="right side">
    {{#controlmenu}}
            {{> format_designer/courseformat/content/section/controlmenu }}
    {{/controlmenu}}
    <div class="icon-loader-block"></div>
    </div>
    {{#header}} {{> core_courseformat/local/content/section/header }} {{/header}}
    <div id="coursecontentcollapse{{num}}"
         class="content {{^iscoursedisplaymultipage}}
             {{^sitehome}}course-content-item-content collapse {{#isactive}}show{{/isactive}}{{/sitehome}}
         {{/iscoursedisplaymultipage}}">
        {{#availability}}
            {{> core_courseformat/local/content/section/availability }}
        {{/availability}}
        <div class="summary">
        {{#summary}}
            {{> core_courseformat/local/content/section/summary }}
        {{/summary}}
        </div>
        {{#cmsummary}} {{> core_courseformat/local/content/section/cmsummary }} {{/cmsummary}}
        {{#cmlist}} {{> format_designer/courseformat/content/section/cmlist }} {{/cmlist}}
        {{{cmcontrols}}}
    </div>
</li>
